**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/*.csproj
**/*.sln
# Ignora tutte le cartelle .vscode ovunque si trovino
**/.vscode/

# Ignora specificamente i database giganti di VS Code
*.vc.db
*.opendb